.main-content.city-info(ng-controller="CityInfoController" ng-init="initialize('#{escape_javascript(CitySerializer.new(@city).to_json)}', '#{escape_javascript(City.colors.to_json)}')")

  %form{:role => 'form', name: 'cityForm'}(novalidate ng-submit="updateCity()")

    .screen-intro
      %p.screen-info
        Basic Information


    .form-group
      %label{:for => 'agency_url'}
        Your Agency's Website
        %span.req *
      .input-group.input-md
        .input-group-addon http://
        %input.form-control#agency-site{name: 'agency_url', :'ng-model' => 'city.agency_url'}

    .form-group
      %label{:for => 'contact_email'}
        Contact Us Email
        %span.req *
      %input.form-control#contact-email{name: 'contact_email', :'ng-model' => 'city.contact_email', :placeholder => 'name@example.com'}


    %h3 City Affiliates
    %p These links appear in the footer of each page of the site (add up to 8 links)

    %affiliate-form(ng-repeat="affiliate in city.affiliates" affiliate="affiliate" affiliates="city.affiliates")

    %a.add-btn.btn-link(ng-click="newAffiliate()" ng-show="city.affiliates.length < 8") + Add an Affiliate

    .alert.alert-success.alert-dismissable(ng-show="updatedSuccessfully")
      %button.close(type="button" ng-click="updatedSuccessfully = false") &times;
      %strong Saved!
      Your changes were saved.

    .alert.alert-danger.alert-dismissable(ng-show="fatalError")
      %button.close(type="button" ng-click="fatalError = false") &times;
      %strong Error!
      Sorry. Your changes could not be saved. Please try again.

    .form-actions
      %button.btn.btn-primary.ladda-button{:type => "submit"}(ng-disabled="cityForm.$invalid || updating" data-style="expand-left" ui-ladda="updating")
        %span.ladda-label Save Changes

      %span.double-check.text-danger(ng-show="cityForm.$invalid")
        Please double-check that all required fields are filled.

    .frontend-link
      %a{:href => "/"} View Site &raquo;
