/* ABOUT */

.opening.about-intro {
	@include retina-image(/assets/static/about-main, 750px 417px, jpg);
}

.about-intro {

	h1 {
		max-width: 725px;
	}

	h1 {
		margin-top: 2.2rem;
		text-shadow: 0px 1px 7px rgba(0,0,0,0.53);
	}

	div {
		@include span-columns(3.38);

		p {
			margin-top: 3rem;
		}
	}
}

.about .main-intro {
	padding: 0 30px;
	@include span-columns(7.5);

	h2 {
		margin-top: 60px;
	}
}

.aside .connect {
	@include row();
	border-left: 2px solid $highlight;
	margin-top: 3.8rem;

	strong {
		font-weight: normal;
		font-family: $font-bold;
		color: $dark-grey;
	}

	a {
		padding-top: 3rem;
		display: block;
		position: relative;
	}

	a:hover {
		color: $dark-grey;
	}

	a:after {
		position: absolute;
		top: 1rem;
		left: 0;
		font-family: "city72icons";
		content:'9';
		font-size: 1.5rem;
		-webkit-font-smoothing: antialiased;
	}
}

.about-data {
  @include outer-container;
  @include row();

	margin-top: 50px;	
	margin-bottom: 1rem;
	padding: 0 30px;

	li {
		@include span-columns(4);
		padding-right: 0.6rem;
	}

	@media(min-width: $mobile-breakpoint-width) {
	  h2 {
	    padding-top: 200px;
	  }
	}
	  
	h2 {
		@include col-title;
		line-height: 2.5rem;
	}

	p {
		margin-top: 0.4rem;
	}

	.about-who,
	.about-what,
	.about-why {
		width: 302px;

	}

	@media(min-width: $mobile-breakpoint-width) {
	  .about-who {
	    @include retina-image(/assets/static/about-us-1, 302px 200px, jpg);
	    background-repeat: no-repeat;
	  }

	  .about-what {
	    @include retina-image(/assets/static/about-us-2, 302px 200px, jpg);
	    background-repeat: no-repeat;
	  }
	  
	  .about-why {
	    @include retina-image(/assets/static/about-us-3, 302px 200px, jpg);
	    background-repeat: no-repeat;
	  }
	}

}


/* Credits */
.image-credits {
  padding-left: 30px;
  margin: 1.5rem 0 3rem;


	h2 {
	  @include col-title;
	}
	li p {
	  max-width: 80%;
	}
}